@use "../../../../shared/styles/sizeMixin" as *;

.portfolioSection {
  @include adaptiveValue("padding-block", 56, 32);
  background-color: #f2f1ec;

  & .portfolio-container {
    max-width: 90rem;
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
  row-gap: 2.5rem;

  @media (max-width: toEm($tablet)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: toEm($mobile)) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
