@use "../../../../shared/styles/var" as *;
@use "../../../../shared/styles/sizeMixin" as *;
.btn {
  padding: 0.625rem 1.25rem;
  background-color: $accent-color;
  min-width: 7.5rem;
  min-height: 2.5rem;
  color: #ffffff;
  transition: 0.3s ease;
  & :focus-visible {
    outline: 0.0625rem solid $accent-color;
    outline-offset: 0.625rem;
    border-radius: 0.3125rem;
  }
  @media (any-hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #264761;
      transition: 0.4s ease;
    }
  }
}
